
div {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: black;
    margin: 50px auto;
}

div:hover{
    width: 200px;
    height: 200px;
    background-color: brown;
    margin: 50px auto;
    cursor: pointer;
}
